<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pub.abetaev.queetings">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/videobeer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/videobeer"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="M">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rapid-booking-249908.appspot.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>
